*{
    margin: 0;
}
body{
font-size: 80px;


}
.c1{
background-color: green;
}
.c2{
    background-color: red;
}
.c3{
    background-color: rgb(3, 70, 78);
}
div{
    float: left;
padding-top: 100px;
padding: 10px 50px 100px 150px;
padding: 100px 50px;
padding: 50px;
margin: 0px 20px;
border: solid brown 14px;
}